.formulario {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: rgb(113, 39, 182);
}

input,
textarea {
    width: 30rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid rgb(113, 39, 182);
    color: rgb(113, 39, 182);
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: rgb(218, 219, 209);
}

h2, h3, p{
    text-align: center;
    color:rgb(113, 39, 182);
}

.orderId {
    display: block;
    margin: 4rem;
    padding: 2rem;
    font-size: 2rem;
    border: 1px solid rgb(113, 39, 182);
    border-radius: 5px;
    color: rgb(113, 39, 182);

}

