header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(113, 39, 182);
    background-color: rgb(194, 208,135);
    text-decoration: none;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    color: rgb(113, 39, 182);
    font-weight: bold;
    text-decoration: none;
}

h1{
    color: rgb(113, 39, 182);
    text-decoration: none;
}